footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2px;
  background-image: url("https://images.unsplash.com/photo-1464014449614-e470468e3ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
    & > * {
      margin: 0 40px;
      font-size: 30px;
      color: $text-main;
      & > i {
        margin: 0 40px;
        font-size: 30px;
        color: $text-main;
      }
    }
  }
}
