.wrap {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#my-scrollbar {
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}
